@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,200;1,8..30,300;1,8..30,400&family=Poppins:wght@500&display=swap');

.td__main {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    flex-direction: column;
    // border: 2px solid red;
    margin-top: 30px;
    padding-left: 168px;
    padding-right: 168px;


    @media screen and (max-width : 1000px) {
        padding-left: 5px;
        padding-right: 70px;
    }
}

.td__main-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    

    @media screen and (max-width:750px) {
        flex-direction: column;
    }

}

.earning__dashboard {
    // display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 60px;
    

    border: 2px solid yellow;

    div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        // border: 2px solid yellow;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        @media screen and (max-width:550px) {
            width: 100%;
        }

        .dashboard-top {
            @media screen and (max-width:550px) {
                justify-content: space-between;
                padding-left: 5px;
                
            }

        }
    }

    .dashboard-top {
        @media screen and (max-width:550px) {
            margin: 5px 0px 5px 20px
        }
    }

    .col2 {
        @media screen and (max-width:550px) {
            margin-left: 160px;
            margin-right: -45px;
        }

        @media screen and (min-width:550px) {
            margin: 0px 25px;

        }

    }

    .dashboard-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-left: 0px;

        @media screen and (max-width:550px) {
            justify-content: space-between;
        }
    }

    .col3 {
        @media screen and (max-width:550px) {
            display: none;
        }
    }

    .col21 {
        display: none;

        @media screen and (max-width:550px) {
            display: flex;
            justify-content: space-between;
            margin-left: -65px;
            margin-right: 85px;

        }
    }

    .btn {
        width: auto;
        margin-top: 38px;

        button {
            border: none;
            outline: none;
            padding: 8px 16px;
            gap: 10px;

            width: 180px;
            height: 40px;
            left: 153px;
            top: 119px;

            background: #800080;
            border-radius: 20px;
            color: white;
            
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */


            color: #FFFFFF;
        }
    }

}



.referal__code {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
    margin-top: -110px;
    // border: 2px solid rgb(23, 49, 114);

    span {
        width: 228px;
        height: 36px;
        left: 766px;
        top: 179px;
        margin-left: -80px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
        color: #800080;
    }
    
    div {
        width: 230px;
        height: 30px;
        left: 64px;
        top: 15px;
        margin-right: -80px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        border-image: -moz-linear-gradient(top,#800080 0%, #ED4C5C 100%);
        border-width:2px;
        border-style: solid;
        letter-spacing: 1.5em;
        border-radius: 5px;
        padding:5px 40px 5px 40px ;
        // margin-top: 2;

        color: #800080;
    }

    @media screen and (max-width:750px) {
        margin-top: 25px;
        justify-content: center;
        align-items: center;
        margin-right: -90px;
        margin-right: 0px;
        
        span {
            margin-top: 0px;
            margin-left: -5px;
        }
    }

}




.td__main-middle {
    margin-top: 40px;
    
}

.earning__dashboard__col {
    width: 111px;
    height: 21px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    
    
    color: #800080;

    span {
        width: 116px;
        height: 48px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        /* identical to box height */
        

        color: #000000;
    }
}

.td__main-bottom{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    // padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    div{
        font-family: 'Poppins';
        // font-style: normal;
        margin: 8px;
        
        a:link {
            font-weight:500;
            color: #800080;
            background-color: transparent;
            text-decoration: none;
          }

          
        }
        @media screen and (max-width:1117px) {
            margin-top: 0px;
        }
}
